<nav>

    <ul>
        <li><a href="#">Movies</a></li>
        <li><a href="#">TV Series</a></li>
        <li><a href="#">Documentaries</a></li>
    </ul>

    <label class="logo">CubexOTT</label>
    <div class="side-head">

        <label class="search-bar"><i class="fas fa-search"></i></label>
        <label class="search-bar"><i class="fa fa-bell" aria-hidden="true"></i>
        </label>
        <label class="sign-up">Sign Up</label>
    </div>

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>

</nav>