.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  height: 12rem;
  min-width: 16rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.slide img {
  width: 82%;
  height: 98%;
  border-radius: 10px;
}

.slide img:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 4rem;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}
.prev-btn {
  left: 1rem;
}

.next-btn {
  right: 1rem;
}
.prev-btn:hover,
.next-btn:hover {
  color: rgb(232, 191, 26);
}
.sub-head {
  color: #ffffff;
  margin-left: 10%;
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 0.8rem;
}
