<div class="sub-head">You may also like</div>
<div class="slider-container">
    <div class="slider-track" [ngStyle]="{ 'transform': 'translateX(' + translateX + 'px)' }">
        <div class="slide" *ngFor="let slide of slides">
            <a href="#"><img [src]="getFullImageUrl(slide.posterPath)" [alt]="slide.title"></a>
        </div>
    </div>
</div>
<button class="prev-btn" (click)="prevSlide()"><i class="fas fa-angle-left"></i></button>
<button class="next-btn" (click)="nextSlide()"><i class="fas fa-angle-right"></i></button>